@media (min-width: 1200px) {
  .top-nav-container {
    max-width: 800px;
  }

  .navbar {
    justify-content: space-between;
    width: 1200px;
    margin: auto;
    font-size: 14px;
  }

  .search-bar {
    margin: 5px;
  }

  .search-bar .input-nav {
    font-size: 18px;
    padding: 10px;
  }

  .search-bar .button-nav {
    font-size: 18px;
    padding: 10px;
  }

  .banner {
    width: 100%;
  }
  .wrapper {
    width: 25%;
  }

  .descripcion {
    display: none;
  }

  .product {
    box-shadow: none;
    transition: all 1s;
  }

  .product:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }

  .product:hover .descripcion{
    display: initial;
  }

  .product:hover .fa-truck {
    animation: girar 1s 1;
  }

  footer {
    justify-content: center;
  }

  footer section p {
    padding-right: 10px;
    max-width: 300px;
  }

  @keyframes girar {
    0% {
    transform: rotate(1turn);
    }
  }
}
